.footer {
    background-color: $footer-background-color;
}

.color {
    color: $footer-text-color;
    margin-top: $indent-l;
}

.description {
    color: $footer-description-text-color;
    text-align: center;
    margin-top: $indent-xs;
}

.icons-wrapper {
    margin-top: $indent-s;
}

.footer-wrapper {
    width: 100%;
    margin: auto;
    @include flex-column(column , center);
}

.info {
    color: $footer-text-color;
    padding: $indent-s 0 $indent-xl;
    font-family: $fs-xl;
    line-height: 26px;
}
