.header {
    width: 100%;
    padding: 0 179px;
    margin-top: $indent-m;
    position: relative;
}


.list {
    @include flex-between(space-between);
    list-style-type: none;

    &__item {
        font-size: $fs-s;
    }

    &__link {
        text-decoration: none;
        color: $primary-text-color;
        text-transform: uppercase;
        font-family: RobotoRegular;
    }

}

.list__link:hover {
    color: $hover-text-color;
}

.poster-wrapper {
    margin-top: $indent-m;
    width: 100%;
}

.poster__card {
    text-align: center;
}

