.instagram {
    padding: $indent-m 0 $indent-m;
    background-color: $section-background-color;
    @include flex-column (column, center);
    text-transform: uppercase;
    margin-top: $indent-xl;
}

.instagram__title {
    width: 100%;
    @include flex-between (space-between);
    color: $primary-text-color;
}

.instagram-link {
    font-size: $fs-m;
    font-family: RobotoBold;
    color: $primary-text-color;
    text-decoration: none;
}

.instagram__images {
    padding-top: $indent-xs;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.instagram__images .image-wrapper img {
    width: 100%;
}
