.main-content-wrapper {
    width: 100%;
    margin: auto;
}

.caption-wrapper {
    margin-top: $indent-xl;
}

.caption {
    font-family: RobotoBold;
    font-size: $fs-xl;
    color: $primary-text-color;
    text-transform: uppercase;
}

.main-content,
.main-content-two {
    margin-top: $indent-xs;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.card-wrapper {
    display: flex;
}

.text {
    padding-left: 20px;
}

.one-text {
    color: $primary-text-color;
    font-size: $fs-xl;
    font-family: RobotoBold;
}

.one-text__description {
    color: $description-second-text-color;
    font-size: $fs-m;
    font-family: RobotoRegular;
    margin-top: 10px;
}

.two-text {
    margin-top: 13px;
    font-size: $fs-l;
    font-family: RobotoRegular;
    color: $description-text-color;
    line-height: 26px;
}
