@mixin flex-between ($justify-content) {
  display: flex;
  justify-content: $justify-content;
}

@mixin flex-column ($flex-direction, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
}

@mixin flex ($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

