@import "./variables.scss";
@import "./fonts.scss";
@import "./mixins.scss";
@import "./header.scss";
@import "./main.scss";
@import "./instagram.scss";
@import "./footer.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    width: 1170px;
    margin: auto;
}

.container-second {
    max-width: 100%;
    width: 684px;
    margin: auto;
}

@media (max-width: 768px) and (min-width: 320px) {

    .poster {
        width: 100%;
    }

    .main-content-wrapper {
        width: 555px;
        margin: 0;
    }

    .main-content {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
    }

    .main-content-two {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
    }



    .instagram__images .image-wrapper:last-child {
        display: none;
    }

    .header .menu {
        display: block;
    }
    
    .nav {
        position: absolute;
        display: none;
        right: 28px;
        width: 183px;
        background-color: $burger-background-color;
    }

    .list__item {
        font-size: .7rem;
        padding: 5px 12px;
    }

    .nav .list {
        @include flex(column, flex-start, flex-start);
    }

    .nav .list__item {
        width: 100%;
    }

    .nav .list__item .link {
        display: block;
        padding: 4.5px 0 4.5px 13px;
        width: 100%;
    }

    .nav .list__item:hover {
        background-color: $hover-background-color;
        color: $hover-text-color;
    }

    .nav_show {
        display: block;
    }

}

@media (max-width: 320px) {
    .main-content-wrapper {
        width: 232px;
        margin: 0;
    }

    .list__link {
        text-decoration: none;
        color: $primary-text-color;
        text-transform: uppercase;
        font-family: RobotoRegular;
    }



    .description {
        font-size: 12px;
        width: 100%;
    }

    .caption-one,
    .one-text,
    .caption,
    .info {
        font-size: 14px;
    }

    .info {
        text-align: center;
    }

    .two-text {
        display: none;
    }

    .card-wrapper {
        display: flex;
        flex-direction: column;
    }

    .text {
        padding-left: 0px;
        margin-top: 10px;
    }

    .twoo {
        display: none;
    }

    .card-last {
        display: none;
    }

    .image-grid {
        width: 70%;
    }


    .one {
        font-size: 11px;
    }


    .header {
        padding: 23px 28px 0 25px;
    }

    .header {
        width: 100%;
    }

    .header .menu {
        display: block;
    }



    .nav {
        position: absolute;
        display: none;
        right: 28px;
        width: 183px;
        background-color: $burger-background-color;
    }

    .list__item {
        font-size: .7rem;
        padding: 5px 12px;
    }

    .nav .list {
        @include flex(column, flex-start, flex-start);
    }

    .nav .list__item {
        width: 100%;
    }

    .nav .list__item .link {
        display: block;
        padding: 4.5px 0 4.5px 13px;
        width: 100%;
    }

    .nav .list__item:hover {
        background-color: $hover-background-color;
        color: $hover-text-color;
    }

    .nav_show {
        display: block;
    }

    .instagram {
        margin-top: 2.6rem;
    }

    .image-wrapper {
        width: 301px;
    }



    .instagram .title {
        font-size: $fs-l;
    }

    .instagram-link {
        display: none;
    }

    .instagram__images .image-wrapper:not(:first-child) {
        display: none;
    }

    .footer-wrapper {
        width: 303px;
    }

}


.menu {
    position: absolute;
    background-color: $footer-background-color;
    bottom: 0;
    right: 28px;
    display: none;
}

.menu .line-wrapper {
    position: relative;
    width: 44px;
    height: 37px;
    @include flex(column, space-between, center);
}

.menu__line {
    border-top: 2px solid $footer-text-color;
    width: 17px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 100ms ease-in-out;
}

.menu__line-top {
    top: calc(50% - 5px);
}

.menu__line-middle {
    top: calc(50% - 1px);
    animation: 5000ms ease-in-out infinite line-rotate;
}

.menu__line-bottom {
    top: calc(50% + 3px);
}

.position-center {
    transition: 100ms ease-in-out;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hide {
    transition: 100ms ease-in-out;
    width: 0;
}

.rotate-plus {
    transform: translate(-50%, -50%) rotate(45deg);
}

.rotate-minus {
    transform: translate(-50%, -50%) rotate(-45deg);
}