// Background-color
$section-background-color: rgba(247, 247, 247, 1);
$footer-background-color: rgba(0, 0, 0, 1);
$hover-background-color: rgba(229, 229, 229, 1);
$burger-background-color: rgba(245, 245, 245, 1);

// Font-size
$fs-xl: 1rem; //16px
$fs-l: .9rem; //14px
$fs-m: .7rem; //12px
$fs-s: .6rem; //11px

// Text-color
$primary-text-color: rgba(78, 78, 78, 1);
$description-text-color: rgba(92, 92, 92, 1);
$description-second-text-color: rgba(124, 124, 124, 1);
$footer-text-color: rgba(254, 254, 254, 1);
$footer-description-text-color: rgba(185, 185, 185, 1);
$hover-text-color: rgba(87, 164, 164, 1);

// Indent
$indent-xl: 4.3rem; //69
$indent-l: 4.1rem; //66
$indent-m: 3rem; //49
$indent-s: 2.3rem; //37
$indent-xs: 1.4rem; //24
// Background-color
$section-background-color: rgba(247, 247, 247, 1);
$footer-background-color: rgba(0, 0, 0, 1);
$hover-background-color: rgba(229, 229, 229, 1);
$burger-background-color: rgba(245, 245, 245, 1);

// Font-size
$fs-xl: 1rem; //16px
$fs-l: .9rem; //14px
$fs-m: .7rem; //12px
$fs-s: .6rem; //11px

// Text-color
$primary-text-color: rgba(78, 78, 78, 1);
$description-text-color: rgba(92, 92, 92, 1);
$description-second-text-color: rgba(124, 124, 124, 1);
$footer-text-color: rgba(254, 254, 254, 1);
$footer-description-text-color: rgba(185, 185, 185, 1);
$hover-text-color: rgba(87, 164, 164, 1);

// Indent
$indent-xl: 4.3rem; //69
$indent-l: 4.1rem; //66
$indent-m: 3rem; //49
$indent-s: 2.3rem; //37
$indent-xs: 1.4rem; //24



